:root {
    --gallery-width:320px;
    --main-width:95%;
}
body {
    background: #081C2B;
    color: white;
}
header,.header-container {
    background: none;
}
.notification { 
    border-bottom: 1px dashed grey;
}
.big-heading {
    color: white;
}
.icon-heading-about {
    width: 120px; 
}
main {
    margin: 4rem auto 0 auto;
    background: #081C2B;
}
.gallery-container {
    margin: 0 auto;
    width: var(--main-width);
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;  
    animation: gallery 20s linear infinite; 
    transform: translateX(0);
    width: max-content;
}
.gallery-container img{
    width: 320px;
    height: 320px;
    border-radius: 1rem; 
}
.gallery {
    background: #081C2B; 
    overflow: hidden;
    padding-bottom: 4rem;
} 
.author-name {
    color: white;
}
.dashed-line { 
    width: 100%;
    transform: scaleX(0); 
    transform-origin: left; 
    border:1px dashed rgba(255, 255, 255, .26);
    background: #081C2B;
    margin: 0 auto;
    transition: all 1.5s ease;
  }
.about-main-section {
    background: #081c2b;
    padding : 4rem 0;
    margin: 0 auto;
    width: var(--main-width);
}
.main-paragraph {
    color: white;
    text-align: justify;
    line-height: 2rem;
}
.blur-animation {
    filter: blur(4px);
    opacity: 0;
    transition: all 700ms ease-in-out;
}
.about-testimony-section {
    background: url(/images/see-about_650.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .3);
    background-blend-mode: darken;
    height: 406px;
    margin: 2rem auto 3.5rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.about-testimony-section article {
    width: var(--main-width);
    margin: 0 auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.about-testimony-section p {
    text-align: left;
}
.author-country {
    color: rgba(255, 255, 255, .88);
}
.big-heading {
    color: white;
    margin: 1.87rem 0 0 0;
}
.advantages-container {
    width: var(--main-width);
    margin: 0 auto;
}
.advantages-container article {
    border-top: 1px solid rgba(255, 255, 255, .16);
    padding: 1.623rem 0 .56rem 0;
    margin-top: 1.5rem;
    transform: translateY(32px);
    opacity: 0;
    transition: all 700ms ease-in-out;
} 
footer {
   color: #081C2B;
   padding-top: 2.5rem;
}
.call-to-action-section { 
    margin: 2.5rem auto 0 auto;
} 
.main-big-heading {
    text-align: center;
}
@media screen and (min-width: 600px) {
    html {
        font-size: 1.2rem;
      }
    .gallery-container img{
        width: 340px;
        height: 340px; 
    }
    .about-testimony-section {
        background: url(/images/see-about_650.webp); 
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, .3);
        background-blend-mode: darken;
    }
}
@media screen and (min-width: 750px){
    :root {
        --main-width:90%;
      }
      .about-testimony-section {
        background: url(/images/see-about_800.webp); 
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, .3);
        background-blend-mode: darken;
        height: 760px;
    } 
    .about-testimony-section p{
        font-size: 2.858rem ;
        line-height: 2.858rem;
    } 
    .about-testimony-section article { 
        height: 70%;  
    }
}
@keyframes gallery {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }